---
extends: default

rules:
  command-instead-of-module: false
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  truthy:
    check-keys: false

ignore: |
  .tox/
  .cache/
